<h3>Update <%= @patron.name %></h3>


<form action="/patrons/<%= @patron.id%>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">New Name</label>
  <input id="name" name="name" type="text">
  <label for="password">New Password</label>
  <input id="password" name="password" type="text">

  <button type="submit">Update</button>
</form>

<form action="/patrons/<%= @patron.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete Account</button>
</form>
