<h3>Add a Book</h3>

<form action="/books" method="post">
  <div class="form-group">
    <label for="book_name">Name</label>
    <input id="n" name="book_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add</button>
</form>
