<h3>Sign in</h3>

<form action="/patrons" method="post">
    <input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <label for="patron_name_old">Name</label>
    <input id="patron_name_old" name="patron_name_old" class="form-control" type="text">
    <label for="patron_name_old">Password</label>
    <input id="patron_password_old" name="patron_password_old" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Sign in</button>
</form>
